{% load i18n %}
<style type="text/css">
@media print { #djDebug {display:none;}}
</style>
<link rel="stylesheet" href="{{ STATIC_URL }}debug_toolbar/css/toolbar.min.css" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}debug_toolbar/js/toolbar.min.js"></script>
<div id="djDebug" style="display:none;" dir="ltr">
	<div style="display:none;" id="djDebugToolbarHandle">
		<a title="{% trans "Show Toolbar" %}" id="djShowToolBarButton" href="#">&laquo;</a>
	</div>
	<div id="djDebugWindow" class="panelContent"></div>
    <div id="djDebugRequests">
        <div id="djDebugRequestsLabel"></div>
        <ol id="djDebugRequestsList">
            <li class="djDebugRequest">
                <a class="djDebugRequestLink current" href="#" data-request="0">
                    initial page load
                </a>
            </li>
        </ol>
    </div>
    {% include "debug_toolbar/request.html" %}
</div>
